@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Patrick+Hand+SC&family=Protest+Riot&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ultra&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --clr-1: white;
  --clr-2: #dc0061;
  --clr-3: #2f275e;
  --clr-4: blue;
  --clr-5: black;
  --text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.31);
}
body {
  width: 100vw;
  /* making overflow x as hidden */
  overflow-x: hidden;
  background-color: var(--clr-1);
}

.skip-link {
  text-decoration: none;
  margin-top: 0.5rem;
  position: absolute;
  top: -10000rem;
  left: -140000rem;
}
header {
  background-image: url("images/image-1.jpg");
  background-repeat: no-repeat;
  /* position: fixed; */
  /* border-bottom-left-radius: 50% 40%;
  border-bottom-right-radius: 50% 40%; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  /* text-align: center; */
  text-shadow: var(--text-shadow);
  color: var(--clr-3);
}
/* styling container section */
.container {
  /* padding-bottom: 2rem; */
  padding-left: 5rem;
  height: 20rem;
}
.container h1 {
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--clr-2);
  letter-spacing: 0.4rem;
}
/* styling heading 2 */
.container h2 {
  text-transform: capitalize;
  letter-spacing: 0.2rem;
  line-height: 2;
}
.container p,
.container a {
  line-height: 2;
  font-size: 1.5rem;
  /* margin-top: 0.5rem; */
  letter-spacing: 0.1rem;
}
.container p a {
  text-decoration: none;
  color: var(--clr-4);
  font-weight: 500;
}
.container p a:hover {
  text-decoration: underline;
  transition: 0.5s ease-in;
}
/* styling github start logo */

.container p {
  margin-bottom: 2rem;
}
div.container .link-github {
  border: 2px solid var(--clr-1);
  background-color: var(--clr-3);
  color: var(--clr-1);
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
div.container .link-github:hover {
  background-color: var(--clr-1);
  transition: 0.4s ease-in-out;
  color: var(--clr-3);
  border: 2px solid var(--clr-3);
}
div.container .link-github:hover span svg {
  fill: var(--clr-3);
  transition: 0.4s ease-in-out;
}

.container a span svg {
  /* font-size: 1rem; */
  margin: 0 0.7rem;
  height: 1rem;
  width: 1rem;
  fill: var(--clr-1);
}

/* styline nav */
nav {
  background: rgb(0, 0, 0);
}
nav ul {
  display: flex;
}
